* {
    margin: 0;
}

.div1 {
    width: 1520px;
    height: 835px;

    margin: auto;
}

.div1text {
    width: 1520px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 77px;
    background-color: white;


}

.div1text2 {
    display: flex;
    align-items: center;
    font-family: Work Sans;
    gap: 38px;
    font-weight: 500;
    font-size: 20px;

}

.div1logo {
    width: 162px;
    height: 48px;
}

.div1icon1 {
    display: none;
}

.div1icon2 {
    width: 24px;
    height: 24px;
    margin-left: 160px;
}

.div1pic1 {
    width: 1520px;
    height: 735px;
    background-color: #FFF7F4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color {
    color: #FF5300;
}

.div1picleft {
    width: 493px;
    height: 353px;
}

.div1picleft h2 {
    font-family: Work Sans;
    font-weight: 700;
    font-size: 48px;

}

.colorp {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 16px;
    color: #7B7B7B;
    margin-top: 11px;
    margin-bottom: 50px;
}

.colorp2 {
    margin-bottom: 20px;
}

.buttoncolor {
    width: 150px;
    height: 50px;
    font-family: Work Sans;
    font-weight: 500;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background: #FF5300;
    color: white;

}

.div1picright {
    width: 639px;
    height: 429px;

}

.div2 {
    width: 1242px;
    height: 695px;
    background-color: white;
    margin: 120px 0px;
    margin-left: 63px;
}

.div2bolo {
    width: 1242px;
    height: 435px;
    display: flex;

}

.div2bolo img {
    width: 672px;
    height: 352px;
}

.div2bolotext {
    width: 570px;
    height: 435px;

}

.h2color {
    font-family: Work Sans;
    font-weight: 600;
    font-size: 39.06px;

}

.div2tah {
    width: 1170px;
    height: 200px;

    margin: 0px auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.div2tahicon {
    width: 270px;
    height: 200px;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 10px #0000001A;
    text-align: center;
}

.div2tahicon img {
    width: 70px;
    height: 70px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.div2tahicon p {
    text-align: center;
    font-family: Work Sans;
    font-weight: 400;
    font-size: 16px;

}

.div3 {
    width: 1520px;
    height: 673px;
    margin-top: 20px;
    background-color: #FFF7F4;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.div3text {
    width: 570px;
    height: 460px;
   
}
.div3icon1{
    width: 570px;
    height: 530px;
   
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.div3icon2{
    width: 270px;
height: 250px;
background-color: white;
box-shadow: 10px 10px 10px #0000001A;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 20px;
}
.div3icon2 h1{
    font-family: Work Sans;
font-weight: 700;
font-size: 48px;
}
.div3icon2 p{
    font-family: Work Sans;
font-weight: 500;
font-size: 20px;
color: #7B7B7B;
}
.div4{
    width: 1170px;
height: 555px;
background-color: aqua;
margin: 120px auto;
text-align: center;
}
@media(max-width:511px) {

    * {
        margin: 0px;
    }
    body{
        width: 375px;
    }
    .dont {
        display: none;
    }

    .div1 {
        width: 375px;
        height: 733px;
    }

    .div1text {
        width: 375px;
        height: 50px;
        gap: 0px;

        justify-content: space-between;
    }

    .div1logo {
        width: 102px;
        height: 31px;
        margin-left: 14px;
    }

    .div1icon1 {
        display: block;
        margin-left: -70px;
    }

    .div1icon2 {
        width: 24px;
        height: 24px;
        margin: 0px;
        padding-right: 14px;
    }

    .div1pic1 {
        width: 375px;
        height: 683px;
        flex-direction: column-reverse;
    }

    .div1picleft {
        width: 323px;
        height: 308px;
        text-align: center;
    }

    .div1picleft h2 {
        font-family: Work Sans;
        font-weight: 600;
        font-size: 31.25px;

    }

    .colorp {
        font-family: Work Sans;
        font-weight: 400;
        font-size: 16px;
        color: #7B7B7B;
        margin-top: 16px;
        margin-bottom: 25px;
    }

    .div1picright {
        width: 335px;
        height: 225px;
        margin-bottom: 50px;

    }

    .div2 {
        width: 372px;
        height: 1661px;
        margin: 0px;
        margin: 50px auto;
    }

    .div2bolo {
        width: 372px;
        height: 686px;
        flex-direction: column;
        text-align: center;
    }

    .div2bolo img {
        width: 372px;
        height: 192px;
        margin-bottom: 50PX;
    }

    .div2bolotext {
        width: 323px;
        height: 430px;
        margin: auto;
        margin-top: 14px;
    }

    .h2color {
        font-family: Work Sans;
        font-weight: 500;
        font-size: 25px;
        margin-bottom: 18px;
    }

    .colorp {
        margin: 0px;
        margin-bottom: 18px;
    }

    .colorp {
        margin-bottom: 18px;
    }

    .div2tah {
        width: 343px;
        height: 875px;
        flex-direction: column;
    }

    .div2tahicon {
        width: 343px;
        height: 200px;
    }

    .div2tahicon p {
        font-family: Work Sans;
        font-weight: 500;
        font-size: 20px;
    }

    .div3 {
        width: 375px;
        height: 1622px;
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .div3text {
        width: 321px;
        height: 420px;
        margin: 0px auto;
        text-align: center;
        gap: 0px;
        margin: 0px;
    }
    .div3icon1{
        width: 343px;
        height: 1075px;
        margin: 0;
    }
    .div3icon2{
        width: 343px;
        height: 250px;
        gap: 0px;
    }
    .div4{}

}