* {
    margin: 0;
}

.div1 {
    width: 1520px;
    height: 835px;

    margin: auto;
}

.div1text {
    width: 1520px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 77px;
    background-color: white;


}

.div1text2 {
    display: flex;
    align-items: center;
    font-family: Work Sans;
    gap: 38px;
    font-weight: 500;
    font-size: 20px;

}

.div1logo {
    width: 162px;
    height: 48px;
}

.div1icon1 {
    display: none;
}

.div1icon2 {
    width: 24px;
    height: 24px;
    margin-left: 160px;
}

.div1pic1 {
    width: 1520px;
    height: 735px;
    background-color: #FFF7F4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color {
    color: #FF5300;
}

.div1picleft {
    width: 493px;
    height: 353px;
}

.div1picleft h2 {
    font-family: Work Sans;
    font-weight: 700;
    font-size: 48px;

}

.colorp {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 16px;
    color: #7B7B7B;
    margin-top: 11px;
    margin-bottom: 50px;
}

.colorp2 {
    margin-bottom: 20px;
}

.buttoncolor {
    width: 150px;
    height: 50px;
    font-family: Work Sans;
    font-weight: 500;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #FF5300;
    color: white;

}

.div1picright {
    width: 639px;
    height: 429px;

}

.div2 {
    width: 1242px;
    height: 695px;
    background-color: white;
    margin: 120px 0px;
    margin-left: 63px;
}

.div2bolo {
    width: 1242px;
    height: 435px;
    display: flex;

}

.div2bolo img {
    width: 672px;
    height: 352px;
}

.div2bolotext {
    width: 570px;
    height: 435px;

}

.h2color {
    font-family: Work Sans;
    font-weight: 600;
    font-size: 39.06px;

}

.div2tah {
    width: 1170px;
    height: 200px;

    margin: 0px auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.div2tahicon {
    width: 270px;
    height: 200px;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 10px #0000001A;
    text-align: center;
}

.div2tahicon img {
    width: 70px;
    height: 70px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.div2tahicon p {
    text-align: center;
    font-family: Work Sans;
    font-weight: 400;
    font-size: 16px;

}

.div3 {
    width: 1520px;
    height: 673px;
    margin-top: 20px;
    background-color: #FFF7F4;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.div3text {
    width: 570px;
    height: 460px;

}

.div3icon1 {
    width: 570px;
    height: 530px;

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.div3icon2 {
    width: 270px;
    height: 250px;
    background-color: white;
    box-shadow: 10px 10px 10px #0000001A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.div3icon2 h1 {
    font-family: Work Sans;
    font-weight: 700;
    font-size: 48px;
}

.div3icon2 p {
    font-family: Work Sans;
    font-weight: 500;
    font-size: 20px;
    color: #7B7B7B;
}

.div4 {
    width: 1170px;
    height: 555px;

    margin: 120px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.div4tah {
    width: 1170px;
    height: 350px;

    display: flex;
    justify-content: space-between;
}

.div4blog {
    width: 270px;
    height: 350px;

    box-shadow: 10px 10px 10px #0000001A;
}

.div4blog img {
    width: 270px;
    height: 250px;
    margin-bottom: 24px;
}

.div5 {
    width: 1520px;
    height: 640px;
    background-color: #FFF7F4;

}

.div5text {
    text-align: center;
}

.div5p {
    padding-top: 60px;
}

.div5blog1 {
    width: 1130px;
    height: 250px;

    margin: 0px auto;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.div5blog2 {
    width: 470px;
    height: 250px;
    background-color: #FF5300;
    color: white;
}

.div5blog2 h2 {
    font-family: Work Sans;
    font-weight: 500;
    font-size: 25px;
    margin-left: 65px;
    margin-top: 34px;
    margin-bottom: 7px;
}

.div5span {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 16px;
    margin-left: 65px;
}

.div5blog2 p {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 16px;
    margin-left: 65px;
    margin-top: 23px;
}

.div6 {
    width: 1170px;
    height: 574px;

    margin: 120px auto;
}

.div6textup {
    text-align: center;

}

.div6blog1 {
    width: 1170px;
    height: 294px;

    margin-top: 60px;
    display: flex;
    justify-content: space-between;

}

.div6blog2 {
    width: 570px;
    height: 294px;
    background-color: white;
    box-shadow: 10px 10px 10px #0000001A;

}

.div6blogup1 {
    display: flex;
}

.div6blogup1 h3 {
    font-family: Work Sans;
    font-weight: 500;
    font-size: 25px;
    margin-top: 20px;

}

.div6p {
    margin-left: 20px;
}

.div6p p {
    font-size: 16px;
    font-weight: 400;
    color: #FF5300;
    margin-top: 25px;

}

.div6komp1 {
    width: 164px;
    height: 164px;
    margin-left: 120px;
    margin-top: 25px;
    padding-right: 25px;
}

.div6blogtah {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 25px;
}

.div6blogtah img {
    width: 80px;
    height: 80px;
}

.div6blogtah1 h3 {
    font-family: Work Sans;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 6px;
}

.div6blogtah1 p {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 16px;
}

.div6komp2 {
    display: none;
}

.div7 {
    width: 1263px;
    height: 961px;

    margin: 0px auto;
}

.div7textbolo {
    text-align: center;
}

.div7blog1 {
    width: 1170px;
    height: 230px;
    margin: 0px auto;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div7blog2 {
    width: 370px;
    height: 230px;

    box-shadow: 10px 10px 10px #0000001A;
}

.div7blog2text {
    display: flex;
    gap: 18px;
    margin-top: 19px;
    margin-left: 18px;
}

.div7blog2text img {
    width: 75px;
    height: 75px;
}

.div7email {}

.div7email p {
    font-family: Work Sans;
    font-weight: 500;
    font-size: 25px;
    color: #FF5300;
    margin-bottom: 11px;
}

.div7email h3 {
    font-family: Work Sans;
    font-weight: 600;
    font-size: 31.25px;

}

.div7email2 {
    margin-left: 18px;
    margin-top: 45px;
}

.div7email2 p,
.div7email2 span {
    font-family: Work Sans;
    font-weight: 500;
    font-size: 20px;
    color: #7B7B7B;

}

.div7email2 p {
    margin-left: 16px;
    margin-bottom: 10px;
}

.div7email2 span {
    margin-left: 18px;
    color: #FF5300;
    font-weight: 500;
    font-size: 20px;
}

.div7Messeg {
    width: 670px;
    height: 466px;
    margin: 0px auto;
    margin-top: 46px;
    margin-bottom: 18px;
}

.div7Messeg h2 {
    text-align: center;
    margin-bottom: 18px;
}

.div7tel {
    display: none;
}

.div7nom1 {
    display: flex;
    gap: 18px;
    margin-bottom: 18px;
}

.div7nom2 {
    width: 312px;
    height: 60px;
    padding-left: 12px;
    color: #7B7B7B;
    font-family: Work Sans;
    font-weight: 400;
    font-size: 16px;
    border: none;
    box-shadow: 10px 10px 10px #0000001A;

}

.div7sms {
    width: 652px;
    height: 145px;
    max-width: 650px;
    max-height: 145px;
    min-width: 650px;
    min-height: 145px;
    padding-top: 18px;
    padding-left: 18px;
    border: none;
    margin-top: 11px;
    color: #7B7B7B;
    font-family: Work Sans;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 10px 10px 10px #0000001A;
}

.div7Messeg button {
    width: 670px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #FF5300;
    color: white;
    font-family: Work Sans;
    font-weight: 500;
    font-size: 20px;
    margin-top: 12px;
}

.div8 {
    width: 1170px;
    height: 450px;
    padding-top: 60px;
    margin-left: 4%;

}

.div9 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    margin-top: 122px;
}

.div9pic1 {
    width: 213px;
    height: 167px;
}

.div9pic2 {
    width: 223px;
    height: 162px;
}

.div9pic3 {
    width: 159.760009765625px;
    height: 168 .98805236816406px;

}

.div9pic4 {
    width: 213.66998291015625px;
    height: 169.70001220703125px;

}

@media(max-width:511px) {

    * {
        margin: 0px;
    }

    body {
        width: 375px;
    }

    .dont {
        display: none;
    }

    .div1 {
        width: 375px;
        height: 733px;
    }

    .div1text {
        width: 375px;
        height: 50px;
        gap: 0px;

        justify-content: space-between;
    }

    .div1logo {
        width: 102px;
        height: 31px;
        margin-left: 14px;
    }

    .div1icon1 {
        display: block;
        margin-left: -70px;
    }

    .div1icon2 {
        width: 24px;
        height: 24px;
        margin: 0px;
        padding-right: 14px;
    }

    .div1pic1 {
        width: 375px;
        height: 683px;
        flex-direction: column-reverse;
    }

    .div1picleft {
        width: 323px;
        height: 308px;
        text-align: center;
    }

    .div1picleft h2 {
        font-family: Work Sans;
        font-weight: 600;
        font-size: 31.25px;

    }

    .colorp {
        font-family: Work Sans;
        font-weight: 400;
        font-size: 16px;
        color: #7B7B7B;
        margin-top: 16px;
        margin-bottom: 25px;
    }

    .div1picright {
        width: 335px;
        height: 225px;
        margin-bottom: 50px;

    }

    .div2 {
        width: 372px;
        height: 1661px;
        margin: 0px;
        margin: 50px auto;
    }

    .div2bolo {
        width: 372px;
        height: 686px;
        flex-direction: column;
        text-align: center;
    }

    .div2bolo img {
        width: 372px;
        height: 192px;
        margin-bottom: 50PX;
    }

    .div2bolotext {
        width: 323px;
        height: 430px;
        margin: auto;
        margin-top: 14px;
    }

    .h2color {
        font-family: Work Sans;
        font-weight: 500;
        font-size: 25px;
        margin-bottom: 18px;
    }

    .colorp {
        margin: 0px;
        margin-bottom: 18px;
    }

    .colorp {
        margin-bottom: 18px;
    }

    .div2tah {
        width: 343px;
        height: 875px;
        flex-direction: column;
    }

    .div2tahicon {
        width: 343px;
        height: 200px;
    }

    .div2tahicon p {
        font-family: Work Sans;
        font-weight: 500;
        font-size: 20px;
    }

    .div3 {
        width: 375px;
        height: 1622px;
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .div3text {
        width: 321px;
        height: 420px;
        margin: 0px auto;
        text-align: center;
        gap: 0px;
        margin: 0px;
    }

    .div3icon1 {
        width: 343px;
        height: 1075px;
        margin: 0;
    }

    .div3icon2 {
        width: 343px;
        height: 250px;
        gap: 0px;
    }

    .div4 {
        width: 375px;
        height: 503px;
    }

    .div4tah {
        width: 100%;
        height: 100%;
        overflow: scroll;

        display: flex;

        gap: 20px;

    }

    .div4blog {
        min-width: 73%;
        height: 100%;
        box-shadow: 10px 10px 10px #0000001A;
        margin-right: 2px;
    }

    .div5 {
        width: 375px;
        height: 470px;
    }

    .div5blog1 {
        width: 100%;
        height: 177px;
        overflow: scroll;
        gap: 60px;
    }

    .div5blog2 {
        min-width: 80%;
        height: 100%;

    }

    .div5blog2rost {
        margin-left: 50px;
    }

    .div5blog2chap {
        margin-right: 40px;
    }

    .div5blog2 h2 {
        font-family: Work Sans;
        font-weight: 500;
        font-size: 16px;
        margin: 0px;
        margin-top: 16px;
        margin-bottom: 8px;
        padding-left: 35px;
    }

    .div5span {
        font-family: Work Sans;
        font-weight: 400;
        font-size: 12px;
        margin: 0;
        padding-left: 35px;
    }

    .div5blog2 p {
        font-family: Work Sans;
        font-weight: 400;
        font-size: 11px;
        margin: 0;
        margin-top: 12px;
        padding-left: 35px;
        padding-right: 10px;
    }

    .div6 {
        width: 375px;
        height: 413px;

    }

    .div6blog1 {
        width: 100%;
        height: 220px;
        overflow: scroll;



    }

    .div6p p {
        margin: 0;
        font-size: 12px;
        font-weight: 400;
        margin-top: 18px;
        margin-bottom: 8px;
    }

    .div6p h3 {
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 18px;
    }

    .div6blog2 {
        min-width: 70%;
        height: 100%;
        margin-right: 50px;
        margin-left: 50px;
    }

    .div6komp2 {
        display: block;

    }

    .div6blogup1 img {
        width: 80px;
        height: 80px;
        margin: 0;
        margin-left: 25px;
        padding-right: 18px;
        margin-top: 18px;
    }

    .div6blogtah img {
        width: 40px;
        height: 40px;
    }

    .div6blogtah1 h3 {
        font-family: Work Sans;
        font-weight: 400;
        font-size: 16px;
    }

    .div6blogtah1 p {
        font-family: Work Sans;
        font-weight: 400;
        font-size: 12.8px;

    }

    .div7 {
        width: 375px;
        height: 2034px;
    }

    .div7blog1 {
        width: 375px;
        height: 722px;
        flex-direction: column;
    }

    .div7blog2 {
        width: 355px;
        height: 224px;
    }

    .div7Messeg {
        width: 343px;
        height: 680px;
    }

    .div7tel {
        display: block;
        text-align: center;
        margin: 0px;


    }

    .div7span {
        padding: 0px;
        margin: 0px;

    }

    .div7span2 {
        margin-top: 18px;
    }

    .div7nom1 {
        flex-direction: column;
        align-items: center;
    }

    .div7nom2 {
        width: 310px;
        height: 60px;
    }

    .div7sms {
        width: 305px;
        height: 163px;
        max-width: 305px;
        max-height: 163px;
        min-width: 305px;
        min-height: 163px;
        padding-top: 18px;
        padding-left: 18px;
        border: none;
        margin-top: 11px;
        color: #7B7B7B;
        font-family: Work Sans;
        font-weight: 400;
        font-size: 16px;
        box-shadow: 10px 10px 10px #0000001A;
        margin-left: 10px;

    }

    .div7Messeg button {
        width: 190px;
        height: 50px;
        margin-top: 18px;
        margin-left: 10px;

    }

    .div8 {
        width: 344px;
        height: 250px;
        margin: 0;
        margin-left: 17px;
    }

    .div9 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0;
        gap: 29px;
        margin-top: 0;
        margin-top: 50px;
    }

    .div9pic1 {
        width: 67px;
        height: 53px;
    }

    .div9pic2 {
        width: 70px;
        height: 51px;
    }

    .div9pic3 {
        width: 51px;
        height: 53px;
    }

    .div9pic4 {
        width: 67px;
        height: 53px;
    }


}